/** HEADER RESPONSIVE */
@media only screen and (max-width: 414px) and (min-width: 320px) {
    .hamburger {
        display: block;
        outline: none;
        cursor: pointer;
        right: -1.125rem;
    }

    .main_nav {
        flex-direction: column;
    }

    .breadcrumbs {
        flex-flow: column;
    }

    .page_contents {
        flex-flow: column;
    }

    section.breadcrumbs_top.desktop {
        display: none;
    }

    .breadcrumbs_top.mobile {
        display: block;
    }
}

@media only screen and (min-width: 576px) {
    .header_wrapper {
        max-width: 540px;
    }

    .breadcrumbs {
        flex-flow: column;
    }
    section.breadcrumbs_top.mobile {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .test {
        display: none !important;
        padding-left: 0.22rem;
    }

    section.profile_repo {
        width: 25%;
    }
}
