@import url('navigation.css');
@import url('responsive.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 1rem;
    line-height: 1.5;
}

:root {
    --color-header-text: #fffff1;
    --color-header-bg: #24292e;
    --color-header-links: #fff;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    background-color: initial;
}

.wrapper {
    width: 100vw;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}
